* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, header, footer {
  display: block;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 100%;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Roboto, san-serif";
  font-size: 16px;
}

body._lock {
  overflow: hidden;
}

.container {
  width: 1080px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

.head-wrapper {
  width: 100%;
  background: url(img/bg.png) top/cover no-repeat;
}

.burger {
  display: none;
}
@media (max-width: 1200px) {
  .burger {
    display: block;
    position: relative;
    width: 54px;
    height: 30px;
    top: 45px;
    z-index: 33;
  }
  .burger:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #09B3B0;
    top: 0;
    position: absolute;
  }
  .burger:before {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #09B3B0;
    bottom: 0;
    position: absolute;
  }
  .burger span {
    width: 100%;
    height: 3px;
    background-color: #09B3B0;
    bottom: 14px;
    position: absolute;
  }
}
@media (max-width: 1200px) and (max-width: 899px) {
  .burger span {
    bottom: 9px;
  }
}
@media (max-width: 1200px) and (max-width: 1200px) {
  .burger {
    top: 28px;
  }
}
@media (max-width: 1200px) and (max-width: 899px) {
  .burger {
    width: 30px;
    height: 20px;
    top: 17px;
  }
}

.top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
}
@media (max-width: 1440px) {
  .top-menu {
    padding: 0 40px;
  }
}

.logo img {
  width: 100%;
  height: 100%;
}

.logo {
  max-width: 354px;
  width: 100%;
  margin-left: 130px;
  z-index: 33;
}
@media (max-width: 1440px) {
  .logo {
    margin: 0;
  }
}
@media (max-width: 1200px) {
  .logo {
    max-width: 250px;
  }
}
@media (max-width: 600px) {
  .logo {
    max-width: 150px;
  }
}

.adaptive-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 130px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
@media (max-width: 1440px) {
  .adaptive-menu {
    margin: 0;
  }
}
@media (max-width: 1200px) {
  .adaptive-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100%;
    left: 0;
    background-color: #FFFFFF;
  }
}

.adaptive-menu._active {
  top: 0%;
  overflow: auto;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 150px 0 0 60px;
  z-index: 22;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1200px) {
  .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 40px;
  }
}

.list li {
  margin-right: 50px;
}
@media (max-width: 1200px) {
  .list li {
    margin-bottom: 40px;
    -webkit-transform: translate(-250%, 0);
            transform: translate(-250%, 0);
  }
}

.list li._active:nth-child(1) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.6s ease 0.2s;
  transition: all 0.6s ease 0.2s;
}

.list li._active:nth-child(2) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.6s ease 0.6s;
  transition: all 0.6s ease 0.6s;
}

.list li._active:nth-child(3) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.6s ease 0.4s;
  transition: all 0.6s ease 0.4s;
}

.list li._active:nth-child(4) {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all 0.6s ease 0.8s;
  transition: all 0.6s ease 0.8s;
}

@media (max-width: 1200px) {
  .list li:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

@media (max-width: 1200px) {
  .list li:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}

.list li:last-child {
  margin-right: 0px;
}
.list li:last-child:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-bottom: 5px;
  border-bottom: 1px solid #FF9F00;
}

.list a {
  font-size: 18px;
  line-height: 23px;
  color: #09B3B0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 1200px) {
  .list a {
    font-size: 24px;
  }
}

.list a:hover {
  font-size: 18px;
  color: #FF9F00;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding-bottom: 5px;
  border-bottom: 1px solid #FF9F00;
}
@media (max-width: 1200px) {
  .list a:hover {
    font-size: 24px;
  }
}

.adaptive-menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 45px;
}
@media (max-width: 1200px) {
  .adaptive-menu__nav {
    display: none;
  }
}

.nav-img {
  position: relative;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  background-color: #09B3B0;
  margin-right: 50px;
}
@media (max-width: 1440px) {
  .nav-img {
    display: none;
  }
}

.nav-img img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn {
  font-family: "Roboto";
  font-size: 18px;
  padding: 8px 24px;
  background-color: #09B3B0;
  color: #FFFFFF;
  border-radius: 5px;
}

.section {
  max-width: 500px;
  width: 100%;
  margin-left: 75px;
  padding: 110px 0 165px 0;
}
@media (max-width: 1200px) {
  .section {
    margin: 0;
  }
}
@media (max-width: 899px) {
  .section {
    max-width: 350px;
    padding: 90px 0 110px 0;
  }
}
@media (max-width: 600px) {
  .section {
    padding: 40px 0 50px 0;
  }
}

.section__title {
  font-family: "Winter Insight";
  font-weight: 400;
  font-size: 135px;
  line-height: 96.32%;
  text-align: center;
  color: #FF9F00;
  margin-bottom: 65px;
}
@media (max-width: 1200px) {
  .section__title {
    font-size: 90px;
    margin-bottom: 30px;
  }
}

.section__text {
  font-family: "Winter Insight";
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 22px;
}
@media (max-width: 1200px) {
  .section__text {
    font-size: 18px;
    margin-bottom: 15px;
  }
}

.section__price {
  font-family: "Yrsa";
  font-weight: 400;
  font-size: 64px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FF9F00;
}
@media (max-width: 1200px) {
  .section__price {
    font-size: 36px;
  }
}

.price-nav-head {
  height: 150px;
  background-color: #09B3B0;
  color: #FFFFFF;
  font-family: "Yrsa";
  font-weight: 400;
  font-size: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1200px) {
  .price-nav-head {
    font-size: 40px;
    height: 100px;
  }
}
@media (max-width: 600px) {
  .price-nav-head {
    font-size: 22px;
    height: 60px;
  }
}

.sale {
  padding: 50px 0 0 0;
}
@media (max-width: 600px) {
  .sale {
    padding: 25px 0 0 0;
  }
}

.sale-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
}
@media (max-width: 899px) {
  .sale-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.sale-box:last-child {
  margin-bottom: 0px;
}

.sale-box-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 899px) {
  .sale-box-wrapper {
    margin-bottom: 15px;
  }
}
@media (max-width: 600px) {
  .sale-box-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sale-box__img {
  max-width: 150px;
  margin-right: 20px;
}
@media (max-width: 899px) {
  .sale-box__img {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 30%;
            flex: 1 1 30%;
    margin-right: 10px;
  }
}
@media (max-width: 600px) {
  .sale-box__img {
    margin: 0 0 10px 0;
  }
}

.sale-box__img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 899px) {
  .sale-box-descr {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 70%;
            flex: 1 1 70%;
  }
}

.sale-box-descr__title {
  margin-bottom: 13px;
}
@media (max-width: 600px) {
  .sale-box-descr__title {
    text-align: center;
  }
}

.sale-box-descr__title a {
  font-weight: 400;
  font-size: 23px;
  line-height: 24px;
  color: #09B3B0;
}
@media (max-width: 899px) {
  .sale-box-descr__title a {
    max-width: 100%;
  }
}

.sale-box-descr__title a:hover {
  color: #FF9F00;
}

.sale-box-descr__text {
  max-width: 458px;
  width: 100%;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #09292F;
}
@media (max-width: 899px) {
  .sale-box-descr__text {
    max-width: 100%;
  }
}

.sale-box-buttons {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}
@media (max-width: 899px) {
  .sale-box-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media (max-width: 700px) {
  .sale-box-buttons {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.sale-box-buttons__title {
  border-radius: 3px 0px 0px 3px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 12px;
  background-color: #09B3B0;
  color: #FFFFFF;
  padding: 5px 24px 6px 8px;
}
@media (max-width: 899px) {
  .sale-box-buttons__title {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    border-radius: 4px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 10px;
    padding: 5px 32px;
    margin-left: 10px;
  }
}
@media (max-width: 700px) {
  .sale-box-buttons__title {
    margin: 0 10px;
    padding: 5px 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin: 0 0 10px 10px;
  }
}

.sale-box-buttons__price {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 22px;
  color: #09292F;
  padding: 6px 0px 21px 0px;
}
@media (max-width: 899px) {
  .sale-box-buttons__price {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60%;
            flex: 1 1 60%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    text-align: right;
    padding: 0;
  }
}
@media (max-width: 700px) {
  .sale-box-buttons__price {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }
}

.sale-box-buttons__btn-call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 17px;
  color: #FFFFFF;
  background-color: #FF9F00;
  border-radius: 5px;
  padding: 9px 42px 13px 25px;
  margin-bottom: 8px;
}
@media (max-width: 899px) {
  .sale-box-buttons__btn-call {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-right: 10px;
  }
}
@media (max-width: 700px) {
  .sale-box-buttons__btn-call {
    margin-bottom: 0;
    padding: 9px 16px 11px 12px;
  }
}

.sale-box-buttons__btn-call img {
  margin-right: 18px;
}

.sale-box-buttons__btn-msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 17px;
  color: #FFFFFF;
  background-color: #09B3B0;
  border-radius: 5px;
  padding: 9px 30px 13px 25px;
  margin-bottom: 8px;
}
@media (max-width: 899px) {
  .sale-box-buttons__btn-msg {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
}
@media (max-width: 700px) {
  .sale-box-buttons__btn-msg {
    margin-bottom: 0;
    padding: 9px 16px 11px 12px;
  }
}

.sale-box-buttons__btn-msg img {
  margin-right: 18px;
}

.sale-box-buttons__btn-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 17px;
  color: #09B3B0;
  background-color: #FFFFFF;
  border: 1px solid #09B3B0;
  border-radius: 5px;
  padding: 9px 30px 13px 25px;
  margin-bottom: 8px;
}
@media (max-width: 899px) {
  .sale-box-buttons__btn-mail {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-right: 10px;
  }
}
@media (max-width: 700px) {
  .sale-box-buttons__btn-mail {
    margin-bottom: 0;
    padding: 9px 9px 11px 9px;
  }
}

.sale-box-buttons__btn-mail img {
  margin-right: 18px;
}

.sale-box-descr__sub-title {
  color: #09292F;
  margin-bottom: 19px;
}
@media (max-width: 600px) {
  .sale-box-descr__sub-title {
    text-align: center;
  }
}

.sale-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
  border-bottom: 1px solid #EBEDF0;
}

.btn-more {
  color: #FFFFFF;
  font-size: 15px;
  border-radius: 5px;
  background-color: #09B3B0;
  padding: 15px 60px;
  margin-right: 20px;
}
@media (max-width: 899px) {
  .btn-more {
    padding: 15px 30px;
    margin-right: 15px;
  }
}
@media (max-width: 600px) {
  .btn-more {
    padding: 10px 12px;
  }
}

.btn-match-body {
  position: relative;
}

.btn-match {
  color: #FFFFFF;
  font-size: 15px;
  border-radius: 5px;
  background-color: #FF9F00;
  padding: 15px 80px;
}
@media (max-width: 899px) {
  .btn-match {
    padding: 15px 50px;
  }
}
@media (max-width: 600px) {
  .btn-match {
    padding: 10px 30px;
  }
}

.sale-buttons__img img {
  position: absolute;
  right: -180px;
  bottom: 19px;
  width: 100%;
  height: 100%;
}
@media (max-width: 899px) {
  .sale-buttons__img img {
    right: -150px;
  }
}

.sale-buttons__img {
  max-width: 121px;
  width: 100%;
}
@media (max-width: 899px) {
  .sale-buttons__img {
    display: none;
  }
}

.why-us {
  background-color: #EDF8F9;
  padding-bottom: 60px;
}

.why-us-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1200px) {
  .why-us-box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.why-us-body__title {
  font-family: "Yrsa";
  font-weight: 400;
  font-size: 46px;
  line-height: 144px;
  text-align: center;
  text-transform: uppercase;
  color: #3C3935;
}
@media (max-width: 600px) {
  .why-us-body__title {
    font-size: 24px;
    line-height: 110px;
  }
}

.box-el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1200px) {
  .box-el {
    max-width: 270px;
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    margin-right: 15px;
  }
}
@media (max-width: 899px) {
  .box-el {
    margin-right: 15px;
  }
}
@media (max-width: 600px) {
  .box-el {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    max-width: 100%;
    margin-right: 0px;
  }
}

@media (max-width: 600px) {
  .box-el:first-child {
    margin-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .box-el:nth-child(2) {
    margin-right: 0;
  }
}

@media (max-width: 1200px) {
  .box-el:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}
@media (max-width: 1200px) {
  .box-el:last-child {
    display: none;
  }
}
@media (max-width: 899px) {
  .box-el:last-child {
    margin-right: 0px;
  }
}

.box-el__icon img {
  width: 100%;
  height: 100%;
}

.box-el__icon {
  max-width: 86px;
  width: 100%;
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  .box-el__icon {
    max-width: 60px;
  }
}

.box-el__title {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #09B3B0;
  margin-bottom: 10px;
}

.box-el__text {
  max-width: 270px;
  width: 100%;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.42px;
  color: #3C3935;
  text-align: center;
}

.box-el__link a {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.42px;
  color: #09B3B0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.box-el__link a:hover {
  color: #FF9F00;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.box-el__link {
  text-align: center;
  margin-top: 10px;
}

.how-to {
  padding: 40px 0 60px;
}
@media (max-width: 600px) {
  .how-to {
    padding: 30px 0 25px;
  }
}

.how-to-body__title {
  font-family: "Yrsa";
  font-weight: 400;
  font-size: 43px;
  line-height: 48px;
  text-align: center;
  letter-spacing: 1px;
  color: #09292F;
  margin-bottom: 30px;
}
@media (max-width: 899px) {
  .how-to-body__title {
    font-size: 36px;
  }
}
@media (max-width: 600px) {
  .how-to-body__title {
    font-size: 24px;
    line-height: 28px;
  }
}

.how-to-body__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 1200px) {
  .how-to-body__box {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 1200px) {
  .how-to-body__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 730px) {
  .how-to-body__box-wrapper {
    margin-bottom: 25px;
  }
}

.box-text {
  max-width: 450px;
  width: 100%;
  font-weight: 400;
  line-height: 23px;
  color: #09292F;
  text-align: center;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .box-text {
    max-width: 350px;
  }
}

.box-links {
  margin-bottom: 20px;
}

.box-links a {
  font-weight: 400;
  line-height: 23px;
  color: #09B3B0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 600px) {
  .box-links a {
    font-size: 14px;
  }
}

.box-links a:hover {
  color: #FF9F00;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.box-links__link {
  text-align: center;
  margin-bottom: 9px;
}

.box-links__button {
  text-align: center;
}

.btn-read-more:hover {
  background-color: #09B3B0;
  color: #FFFFFF;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.btn-read-more {
  font-weight: 400;
  font-size: 17px;
  color: #09B3B0;
  background-color: #FFFFFF;
  border: 1px solid #09B3B0;
  border-radius: 5px;
  padding: 10px 25px 10px 25px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.footer {
  background-color: #09B3B0;
  padding: 50px 0 60px;
}
@media (max-width: 899px) {
  .footer {
    padding: 30px 0 40px;
  }
}

.footer-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 600px) {
  .footer-body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.keep-in__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
}
@media (max-width: 600px) {
  .keep-in__socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.social img {
  width: 100%;
  height: 100%;
}

.social {
  max-width: 20px;
  height: 20px;
  margin-right: 16px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.social:last-child {
  margin-right: 0;
}

.keep-in__title {
  font-family: "Montserra";
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #FFFFFF;
  margin-bottom: 20px;
}
@media (max-width: 600px) {
  .keep-in__title {
    display: none;
  }
}

.keep-in__text {
  max-width: 299px;
  width: 100%;
  font-family: "Montserra";
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #FFFFFF;
}
@media (max-width: 600px) {
  .keep-in__text {
    text-align: center;
  }
}

.logo-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-box__footer-logo img {
  width: 100%;
  height: 100%;
}

.logo-box__footer-logo {
  margin-right: 20px;
  margin-bottom: 10px;
}
@media (max-width: 899px) {
  .logo-box__footer-logo {
    max-width: 80px;
    margin-right: 10px;
  }
}

.logo-box-site a {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.logo-box-site a:hover {
  padding-bottom: 8px;
  border-bottom: 1px solid #FF9F00;
  color: #FF9F00;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.logo-box__logo-text {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
}

.copyright {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  color: #FFFFFF;
  margin-bottom: 40px;
}
@media (max-width: 899px) {
  .copyright {
    margin-bottom: 15px;
  }
}
@media (max-width: 600px) {
  .copyright {
    text-align: center;
  }
}

@media (max-width: 899px) {
  .policy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 600px) {
  .policy {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
}

.policy a {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.policy a:hover {
  color: #FF9F00;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.policy span {
  padding: 0 12px;
  border-right: 1px solid #FFFFFF;
}
@media (max-width: 899px) {
  .policy span {
    padding: 0;
    border: none;
  }
}

.policy span:first-child {
  padding-left: 0;
}

.policy span:last-child {
  padding-right: 0;
  border: none;
}
@media (max-width: 600px) {
  .policy span:last-child {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}